/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 10px;
}

.header {
    height: 85vh;
    background-image: linear-gradient(
        to top, #7ed56f12,#28b485e5) ,
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo_box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 20px;
}

.heading_primary {
    color: white;
    text-transform: uppercase;

}

.header_text_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading_primary_main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

}

.heading_primary_sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
    padding-left: 20px;

}